@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --header-height: 1.75rem;
    --page-padding: 1.5rem;
    text-rendering: geometricPrecision;
    @screen sm {
      --page-padding: 2.5rem;
    }
    @screen md {
      --page-padding: 4rem;
    }
    @screen xl {
      --page-padding: 7.5rem;
    }
    @apply text-green font-sans text-16;
  }
}

@layer components {
  .header {
    @apply font-serif text-green text-12;
  }
}

@layer utilities {
  .page-padding {
    @apply w-full mx-auto;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
  }
}