.sliderModule {
	--arrow-offset: 25%;
}

.sliderModule	:global(.slick-track){
	display: flex;
	align-items: center;
	height: 100%;
}

.slideContent {
	transform: scale(.5);
	transition: transform 200ms ease-out;
	transform-origin: center;
	padding-bottom: var(--slider-module-padding-bottom);
}

:global(.slick-slide.slick-center) .slideContent{
	transform: scale(1);
	transition: transform 200ms ease-in;
	padding-bottom: 0;
}

.sliderModule	:global(.slick-slide) {
	transform-origin: top;
	height: auto;
}

.sliderModule	:global(.slick-slide.slick-center) {
	transform: none;
}

.sliderModule	:global(.slick-list){
	@apply duration-200 transition-all mb-4;
}

.sliderModule	:global(.slick-arrow){
	@apply w-1/4 transform-none top-0 z-10 transition-all duration-200;
	height: auto;
	bottom: calc(var(--slider-module-padding-bottom) / 2);
	&:before {
		@apply p-4 font-sans text-green absolute text-36 top-1/2;
	}
}

.sliderModule	:global(.slick-arrow){
	&:before {
		@apply opacity-0 transition-opacity duration-200;
	}
}

.sliderModule	:global(.slick-arrow){
	&:hover:before {
		@apply opacity-100;
	}
}

.sliderModule	:global(.slick-arrow){
	&:focus-visible:before {
		@apply outline outline-1  outline-black;
	}
}

.sliderModule	:global(.slick-next){
	@apply right-0;
	&:before {
		@apply -translate-x-1/2 -translate-y-1/2;
		left: var(--arrow-offset);
	}
}


.sliderModule	:global(.slick-prev){
	@apply left-0;
	&:before {
		@apply translate-x-1/2 -translate-y-1/2;
		right: var(--arrow-offset);
	}
}

.sliderModule	:global(.slick-dots){
	@apply -bottom-10;
}

